<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style type="text/css">
		.bg-color-1{
			background-color: #edf0f3;
		}
		.alert {
			font-size: 1rem;
		   	padding: 3px 5px;  
		}
		.table-wrap {
		  height: 300px;
		  overflow-y: auto;
		}
	</style>
</head>
<body>
	<section layout:fragment="leftSideList">
		<div id="list-example" class="list-group">
			<a class="list-group-item list-group-item-action" th:href="@{/directeur/student/form}">
				Directeur- ajouter un Etudiant			
			</a>
			<a class="list-group-item list-group-item-action" th:href="@{/directeur/prof/form}">
				Directeur- ajouter un Prof			
			</a>
			<a class="list-group-item list-group-item-action" th:href="@{/directeur/profs}">
				Directeur- afficher tous les profs		
			</a>
			<a class="list-group-item list-group-item-action" href="#">
				Directeur- afficher un prof par id		
			</a>
			<a class="list-group-item list-group-item-action" th:href="@{/directeur/students}">
				Directeur- afficher tous les etudiants		
			</a>
			<a class="list-group-item list-group-item-action" href="#">
				Directeur- afficher un etudiant par id		
			</a>
		</div>
	</section>
	<section layout:fragment="content">
		<div class="card">
		  <div class="card-header bg-primary text-light text-center">
		  	<span th:if="${#request.requestURI == '/directeur/student/form' || #request.requestURI == '/directeur/addStudent'}">Ajouter Un Etudiant</span>
			<span th:if="${#request.requestURI == '/directeur/prof/form' || #request.requestURI == '/directeur/addProf'}">Ajouter Un Professeur</span>
			<span th:if="${#request.requestURI == '/directeur/students'}">Les Etudiant</span>
			<span th:if="${#request.requestURI == '/directeur/profs'}">Les Prof</span>
		  </div>
		  <div class="card-body bg-color-1">
		  	<div th:if="${#request.requestURI == '/directeur/student/form' || #request.requestURI == '/directeur/addStudent'}">
		  		<form th:action="@{/directeur/addStudent}" method="post" th:object="${etudiant}">
		  			<div class="form-row">
		  				<div class="form-group col-6">
		  					<label for="nom">Nom:</label>
		  					<input type="text" th:field="*{nom}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{nom}"></div>
		  				</div>
		  				<div class="form-group col-6">
		  					<label for="prenom">Prenom:</label>
		  					<input type="text" th:field="*{prenom}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{prenom}"></div>
		  				</div>
		  			</div>
		  			<div class="form-row">
		  				<div class="form-group col-6">
		  					<label for="cin">CIN:</label>
		  					<input type="text" th:field="*{cin}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{cin}"></div>
		  				</div>
		  				<div class="form-group col-6">
		  					<label for="dateNaissance">Date Naissance:</label>
		  					<input type="date" th:field="*{dateNaissance}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{dateNaissance}"></div>
		  				</div>
		  			</div>
		  			<div class="form-group">
		  				<label for="email">Mail:</label>
		  				<input type="email" th:field="*{email}" class="form-control">
		  				<div class="alert alert-danger" role="alert" th:errors="*{email}"></div>
		  			</div>
		  			<div class="form-group">
		  				<label for="password">Password:</label>
		  				<input type="password" th:field="*{password}" class="form-control">
		  				<div class="alert alert-danger" role="alert" th:errors="*{password}"></div>
		  			</div>
		  			<div class="form-group">
		  				<label for="tele">Tele:</label>
		  				<input type="text" th:field="*{tele}" class="form-control">
		  				<div class="alert alert-danger" role="alert" th:errors="*{tele}"></div>
		  			</div>
		  			<button type="submit" class="btn btn-primary">Enregistrer</button>
		  		</form>
		  	</div>
		  	<div th:if="${#request.requestURI == '/directeur/prof/form' || #request.requestURI == '/directeur/addProf'}">
		  		<form th:action="@{/directeur/addProf}" method="post" th:object="${professeur}">
		  			<div class="form-row">
		  				<div class="form-group col-6">
		  					<label for="nom">Nom:</label>
		  					<input type="text" th:field="*{nom}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{nom}"></div>
		  				</div>
		  				<div class="form-group col-6">
		  					<label for="prenom">Prenom:</label>
		  					<input type="text" th:field="*{prenom}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{prenom}"></div>
		  				</div>
		  			</div>
		  			<div class="form-row">
		  				<div class="form-group col-6">
		  					<label for="cin">CIN:</label>
		  					<input type="text" th:field="*{cin}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{cin}"></div>
		  				</div>
		  				<div class="form-group col-6">
		  					<label for="dateNaissance">Date Naissance:</label>
		  					<input type="date" th:field="*{dateNaissance}" class="form-control">
		  					<div class="alert alert-danger" role="alert" th:errors="*{dateNaissance}"></div>
		  				</div>
		  			</div>
		  			<div class="form-group">
		  				<label for="email">Mail:</label>
		  				<input type="email" th:field="*{email}" class="form-control">
		  				<div class="alert alert-danger" role="alert" th:errors="*{email}"></div>
		  			</div>
		  			<div class="form-group">
		  				<label for="password">Password:</label>
		  				<input type="password" th:field="*{password}" class="form-control">
		  				<div class="alert alert-danger" role="alert" th:errors="*{password}"></div>
		  			</div>
		  			<div class="form-group">
		  				<label for="tele">Tele:</label>
		  				<input type="text" th:field="*{tele}" class="form-control">
		  				<div class="alert alert-danger" role="alert" th:errors="*{tele}"></div>
		  			</div>
		  			<button type="submit" class="btn btn-primary">Enregistrer</button>
		  		</form>
		  	</div>
		  	<div th:if="${#request.requestURI == '/directeur/profs'}" class="table-wrap">
		  		<table class="table table-sm table-light table-hover text-center">
				  <thead class="bg-dark text-light">
				    <tr>
				      <th scope="col">Nom</th>
				      <th scope="col">Prenom</th>
				      <th scope="col">Email</th>
				      <th scope="col">Tele</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="p:${profs}">
				      <td th:text="${p.nom}"></td>
				      <td th:text="${p.prenom}"></td>
				      <td th:text="${p.email}"></td>
				      <td th:text="${p.tele}"></td>
				    </tr>
				  </tbody>
				</table>
		  	</div>
		  	<div th:if="${#request.requestURI == '/directeur/students'}" class="table-wrap">
		  		<table class="table table-sm table-light table-hover text-center">
				  <thead class="bg-dark text-light">
				    <tr>
				    	<th scope="col">CIN</th>
				      	<th scope="col">Nom</th>
				      	<th scope="col">Prenom</th>
				      	<th scope="col">Email</th>
				      	<th scope="col">Tele</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="e:${students}">
						<td th:text="${e.cin}"></td>
				      	<td th:text="${e.nom}"></td>
				     	<td th:text="${e.prenom}"></td>
				     	<td th:text="${e.email}"></td>
				     	<td th:text="${e.tele}"></td>
				    </tr>
				  </tbody>
				</table>
		  	</div>
		  </div>
		</div>
	</section>
</body>
</html>






